body {
  font-family: Aptos Mono;
  background-color: #171717;
  margin: 0;
  padding: 20px;
  color: #ffffff;
}

h1 {
  color: #ffffff;
  font-family: Pixelify sans;
  text-align: center;
}

#banner {
  margin-top: 30px;
  border-radius: 10px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 25.05%;
  margin-right: 25.05%;
  overflow: hidden;
  background-color: #242424;
}

#sivut {
  float: left;
  width: 33.3333333333333%;
}

li a {
  display: block;
  font-family: Aptos Mono;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #333333;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.column {
  flex: 0 0 auto;
  padding: 10px;
  margin-top: 30px;
  border-radius: 25px;
  height: auto;
  width: 24.55%;
  background-color: #242424;
  overflow-wrap: break-word;
  word-wrap: break-word;
  box-sizing: border-box;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer {
  font-family: Aptos Mono;
  text-align: center;
}

#some {
  display: inline-block;
  margin: 7px;
  text-align: center;
  width: auto;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

@font-face {
    font-family: 'Aptos Mono';
    src: url('../fonts/aptos-mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pixelify sans';
    src: url('../fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
